<p>{{#str}}dynreg_update_text, mod_lti {{/str}}</p>
<div class="alert alert-warning" role="alert">
{{#str}}dynreg_update_warn_dupdomain, mod_lti {{/str}}
</div>
<table class="table table-striped">
<tr>
<th>{{#str}}dynreg_update_name, mod_lti {{/str}}
<th>{{#str}}dynreg_update_url, mod_lti {{/str}}
<th>{{#str}}dynreg_update_version, mod_lti {{/str}}
<th>
{{#tools}}
  <tr>
  <td>{{name}}
  <td>{{baseurl}}
  <td>{{ltiversion}}
  <td><a href="startltiadvregistration.php?url={{startregurlenc}}&type={{id}}" type="button" class="btn btn-outline-primary">{{#str}}dynreg_update_btn_update, mod_lti {{/str}}</a>
{{/tools}}
</table>
{{^tools}}
{{#str}}dynreg_update_notools, mod_lti {{/str}}
{{/tools}}
<div>
<a href="start" type="button" class="btn btn-primary">{{#str}}dynreg_update_btn_new, mod_lti {{/str}}</a>
<div>