<p>
There are existing tools attached to the registration's domain. Do you want to update an already installed
external tool or create a new external tool?</p>
<div class="alert alert-warning" role="alert">
Updating an existing tool will move the tool to Pending state, preventing users to access
it until the changes have been approved. Don't forget to activate it again once you've reviewed it!</div>
<table class="table table-striped">
<tr>
<th>Tool name
<th>Base URL
<th>LTI Version
<th>
{{#tools}}
  <tr>
  <td>{{name}}
  <td>{{baseurl}}
  <td>{{ltiversion}}
  <td><a href="startltiadvregistration.php?url={{startregurlenc}}&type={{id}}" type="button" class="btn btn-outline-primary">Update</a>
{{/tools}}
</table>
{{^tools}}
No tools in context.
{{/tools}}
<div>
<a href="start" type="button" class="btn btn-primary">Register as a new external tool</a>
<div>